node_modules
.env

bin/contracts


#Hardhat files
cache
artifacts
scripts/deployParameters.json
scripts/deployAddresses.json
scripts/harvestParameters.json
scripts/setAllocatorsParameters.json
.openzeppelin