.wallet_connect {
  padding: 0 20px;
  margin: 0px !important;
}

.wallet_connect > .disconnect {
  display: flex;
  align-items: center;
}

.wallet_connect > p,
.wallet_connect > .disconnect > .btn {
  cursor: pointer;
  font-weight: 400;
  font-size: large;
  color: black;
  background-color: var(--font-color);
  border-radius: 30px;
  margin: 0 5px;
  padding: 2px 10px;
}

.wallet_connect > p:hover,
.wallet_connect > .disconnect > .btn:hover {
  color: whitesmoke;
  background-color: black;
  transition: background-color 0.4s ease-out;
}
@media screen and (max-width: 700px) {
  .wallet_connect > p {
    font-size: 12px;
  }
  .wallet_connect > .disconnect {
    display: flex;
    flex-direction: column-reverse;
  }
  .wallet_connect > .disconnect > .btn {
    margin-bottom: 5px;
  }
}
